/* Footer.css */

.footer-container {
  width: 100%;
  padding: 2rem 1.5rem;
  background-color: #333; /* Fondo oscuro */
  color: #fff; /* Texto blanco */
  text-align: right; /* Alineación a la derecha */
  font-size: 1.2rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 0;
}

.footer-content {
  max-width: 1200px;
  width: 100%;
}

.footer-text {
  margin: 0;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

@media (max-width: 768px) {
  .footer-container {
    z-index: 2;
    padding: 1.5rem 1rem;
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .footer-container {
    padding: 1rem 0.5rem;
    font-size: 0.9rem;
  }
}
